<div style="padding-left: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Recipe name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Recipe
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">To shopping lsit</a>
                    <a class="dropdown-item" href="#">Edit recipe</a>
                    <a class="dropdown-item" href="#">Delete recipe</a>
                </div>
            </div>
            <div class="row" style="margin-left: auto;">
                <div class="col-xs-12">
                    ?Description???
                    <hr>
                    Ingredients
                </div>
            </div>
        </div>
    </div>
</div>