<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="card-group">
            <a href="#" class="list-group-item clearfix" style="text-decoration: none; color: black;" *ngFor="let recipe of recipes">
                <div class="card" style="width: 12rem;">
                    <img src="{{ recipe.imagePath }}" class="card-img-top" alt="{{ recipe.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
